[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
optuna = "*"
sklearn = "*"
torch = "*"
pandas = "*"
torchvision = "*"

[requires]
python_version = "3.8"
